*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    
}

.block {
    width: 60%;
    height: 100vh;
    display: block;
    margin: 10px auto;
    padding: 10px 10px;
    
    
    color: rgb(14, 100, 14);
    font-weight: 600;
    
}
.body {
    background-color: rgb(77, 80, 73);

}
h1 {
    background: none;
    font: 12px;
}